.ts-dropdown [data-selectable] .highlight {
  background: var(--bs-blue-200) !important;
  color: var(--bs-blue-600) !important;
}

.error-box {
  border: 1px solid var(--bs-red-500);
  border-left-width: 2px;
}
.valid-box {
  border: 1px solid #198754;
  border-left-width: 2px;
}
