.ui-timepicker-wrapper {
  box-shadow: $box-shadow !important;
  border-radius: 10px !important;
  padding: 8px 7px !important;

  & .ui-timepicker-list li:hover {
    border-radius: 6px !important;
    background-color: var(--bs-slate-100) !important;
    color: var(--bs-slate-900) !important;
  }
  & .ui-timepicker-list li {
    color: var(--bs-slate-600) !important;
    &.ui-timepicker-selected {
      background-color: var(--bs-blue-700) !important;
      color: var(--bs-blue-50) !important;
      border-radius: 6px;
    }
  }
}
